/* 컬러 B&W */

$color01: #000000;
$color02: #26282C;
$color03: #484B51;
$color04: #696E76;
$color05: #838B94;
$color06: #AAB0BB;
$color07: #C6CBD0;
$color08: #DDE1E4;
$color09: #EBEEF0;
$color10: #F7F7F8;
$color11: #FFFFFF;

/* PointColor */

$mainPoint: #1412bb;
$subPoint: #C0EBA6;

$statusRed: #f23f3f;
$statusYellow: #ffd338;
$statusBlue: #287eff;

/* 보더컬러 GrayTone */

$BDC01: #ebeef0;
$BDC02: #696e76;
$BDC03: #c6cbd0;
$BDC04: #484b51;
$BDC05: #45484d;
$BDC06: #86888a;
$BDC07: #65696e;
$BDC08: #8c8c8e;


/* 고객센터 메인*/

.cscMain {

    margin: 0 auto;

    h1 {
        font-size: 2rem;
        padding: 2rem 0;
    }

    .cscList {
        text-align: left;
        border-bottom: 1px solid;
        border-color: $BDC03;
        padding: 4.25rem 6.25rem;

        &:nth-child(odd) {
            border-right: 1px solid;
            border-color: $BDC03;
        }

        &:last-child {
            border-bottom: none;
        }

        h3 {
            font-size: 1.5rem;
            color: $color01;

            span {
                color: $color05 !important;
                font-size: 0.75rem !important;
                margin-left: 0.5rem;
            }
        }

        p {
            font-size: 0.75rem;
            color: $color02;
            margin: 1.5rem 0 !important;
        }

        button {
            width: 100%;
            max-height: 40px !important;
            font-size: 1rem !important;
            padding: 0.5rem 0;
        }
    }
}

.faq {
    h1 {
        font-size: 2rem;
        padding: 2rem 0;
    }

    nav {
        margin-bottom: 2rem;
        overflow-x: scroll;
        display: flex;
        gap: 0.25rem;
        width: 100%;
        justify-content: center;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }

        button {
            border: 1px solid;
            border-color: $BDC05;
            color: $color04;
            background-color: $color11;
            font-size: 0.75rem;
            padding: 0.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 7.5rem;

            &:hover {
                background-color: $mainPoint;
                color: $color11;
            }
        }

        button.active {
            background-color: $mainPoint;
            color: $color11;
            font-size: 1rem;
        }
    }

    .accordion {
        margin-bottom: 2rem;

        .accordion-item {

            &:first-child {
                .accordion-header {
                    border-top: 1px solid;
                    border-color: $BDC03;
                }
            }

            &:last-child {
                .accordion-header {
                    border-bottom: 1px solid;
                    border-color: $BDC03;
                }
            }

            .accordion-header {
                button {
                    span {
                        color: $color05;
                        font-size: 0.75rem;
                        margin-right: 2rem;
                    }

                    p {
                        color: $color05;
                        font-size: 0.8rem;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 30rem;

                    }

                    &:not(.collapsed) {
                        background-color: transparent;
                        outline: none;

                        span,
                        p {
                            font-weight: 700 !important;
                            color: $color02;
                        }

                        border-top: 1px solid;
                        border-bottom: 1px solid;
                        border-color: $BDC05;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .accordion-body {
                text-align: left;
                font-size: 0.75rem;

                &:not(.collapsed) {
                    border-bottom: 1px solid;
                    border-color: $BDC03;
                }
            }
        }
    }

    .pagination {
        gap: 0.75rem;

        .page-link {
            background-color: $color11;
            border-color: $BDC03;
            color: $color05;

            &:focus {
                box-shadow: none;
            }

            &:hover {
                background-color: $mainPoint;
                border-color: $mainPoint;
                color: $color11;
            }
        }


        .prev,
        .prevprev,
        .next,
        .nextnext {
            background-color: $color08;
            border: 1px solid;
            border-color: $color08;
            color: $color05;

            &:hover {
                background-color: $mainPoint;
                border-color: $mainPoint;
                color: $color11;
            }
        }

        .page-item.active {
            .page-link {
                background-color: $color01;
                color: $color11;
                border-color: $BDC05;
            }
        }


    }
}

.notice {
    h1 {
        font-size: 2rem;
        padding: 2rem 0;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;

        thead {
            tr {
                border-top: 3px solid;
                border-bottom: 1px solid;
                border-color: $color01;


                th {
                    padding: 1.5rem 0;
                    font-size: 1rem;
                    color: $color01;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid;
                border-color: $color05;

                td {

                    font-size: 1rem;
                    color: $color05;

                    a {
                        color: $color05;
                        width: 100%;
                        display: block;
                        padding: 1.5rem 0;
                    }


                }

                &:hover {
                    a {
                        color: $color01;
                    }
                }
            }
        }
    }

    nav {
        margin-bottom: 2rem;
        overflow-x: scroll;
        display: flex;
        gap: 0.25rem;
        width: 100%;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .pagination {
        gap: 0.75rem;

        .page-link {
            background-color: $color11;
            border-color: $BDC03;
            color: $color05;

            &:focus {
                box-shadow: none;
            }

            &:hover {
                background-color: $mainPoint;
                border-color: $mainPoint;
                color: $color11;
            }
        }


        .prev,
        .prevprev,
        .next,
        .nextnext {
            background-color: $color08;
            border: 1px solid;
            border-color: $color08;
            color: $color05;

            &:hover {
                background-color: $mainPoint;
                border-color: $mainPoint;
                color: $color11;
            }
        }

        .page-item.active {
            z-index: -1;
            .page-link {
                background-color: $color01;
                color: $color11;
                border-color: $BDC05;
            }
        }


    }

    .noticeHead {
        border-top: 3px solid;
        border-bottom: 1px solid;
        border-color: $color01;
        padding: 1rem 2rem;

        h4 {
            font-size: 1.25rem;
            color: $color02;
        }

        span {
            font-size: 0.75rem;
            color: $color05;
        }
    }

    .noticeBody {
        color: $color02;
        font-size: 1rem;
        padding: 1rem 2rem;
        border-bottom: 1px solid;
        border-color: $BDC03;
        margin-bottom: 3rem;

        img {
            width: 100%;
        }
    }

    button {
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 2.5rem;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        a {
            color: $color11;
            width: 100%;
            padding: 0.75rem 0;
        }



    }


}

.inquiry {

    border: 1px solid;
    border-color: $BDC03;

    margin-top: 2rem;
    padding: 0 1.25rem;
    padding-bottom: 2rem;

    h1 {
        font-size: 2rem;
        padding: 2rem 0;
    }

    .inputBox {
        text-align: left;

        label {
            margin-bottom: 1rem;
        }

        input[type="text"],
        [type="password"],
        [type="email"] {
            border: 1px solid;
            border-color: $BDC05;
            width: 100%;
            margin-bottom: 0.5rem;
            max-height: 50px;
            padding: 1rem;
            color: $color02;

            &::placeholder {
                color: $color04;
            }
        }

        .dropdown {
            position: relative;

            button {
                border: 1px solid;
                border-color: $BDC05 !important;
                ;
                width: 100%;
                margin-bottom: 0.5rem;
                padding: 0.75rem 1rem;
                text-align: left;
                font-size: 1rem;
                border-radius: 0;
                color: $color02;
                max-height: 50px;
            }

            .dropdown-toggle::after {
                top: 40%;
                right: 1rem;
                position: absolute;
            }

            ul {
                width: 100%;
                z-index: 1;
            }

            .btn-secondary:empty {
                color: #adb5bd;
            }

        }

        textarea {
            border: 1px solid;
            border-color: $BDC05;
            width: 100%;
            margin-bottom: 0.5rem;
            min-height: 15rem;
            padding: 1rem;
            color: $color02;
        }
    }

    .btnWrap {
        width: 100%;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            width: 50%;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
        }
    }

    .fake {
        border: 1px solid;
        border-color: $BDC05;
        width: 8rem;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 3rem;
        }

        input {
            position: absolute;
            width: 8rem;
            aspect-ratio: 1/1;
            opacity: 0;
            cursor: pointer;

        }
    }

    .fileBucket {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;

        p {
            font-size: 0.75rem;
            color: $color05;
        }

        div.imgWrap {
            border: 1px solid;
            border-color: $BDC03;
            flex-wrap: wrap;

            div.imgBox {
                width: 24%;
                padding: 1rem 0.5rem;
                flex-wrap: wrap;
                position: relative;

                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                }

                button {
                    position: absolute;
                    top: 30%;
                    right: 0;
                    left: 0;
                    background-color: transparent;
                    width: 100%;
                    border: none;
                    cursor: pointer;

                    i {
                        color: $color11;
                        font-size: 3rem;
                    }
                }
            }


        }

    }
}



























/* 반응형 */

@media screen and (max-width: 500px) {

    .cscMain {
        padding: 0 1.2rem;

         h1 {
             font-size: 1.5rem;
         }


        .cscList {
            width: 100%;
            padding: 1.25rem 1rem; 
            border: 1px solid!important;
            border-color: $BDC05!important;
            margin-bottom: 1rem;
        }
    }

    .faq {

         h1 {
             font-size: 1.5rem;
         }

        nav {
            width: 100%;
            padding: 0 2.25rem;
            flex-wrap: wrap;

            button {
                width: 49%;
                
            }
            button.active {
                font-size: 0.75rem;
            }
        }

        .accordion-header {
            p {
                width: 13rem !important;
            }
        }

        .pagination {
            gap: 1rem;
            .page-item {

            }
            .page-link {
               font-size: 0.75rem;
            }
        }
    }

    .notice {
        padding: 0 1.25rem;

         h1 {
             font-size: 1.5rem;
         }

        table {
            thead {
                tr {
                    th {
                        padding: 1rem 0;
                        font-size: 0.75rem;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        a {
                            padding: 1rem 0;
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
         .pagination {
             gap: 1rem;

             .page-item {}

             .page-link {
                 font-size: 0.75rem;
             }
         }

         .noticeHead {
            padding: 1rem 0.5rem;

            h4 {
                font-size: 1rem;
            }
            span {
                font-size: 0.5rem;
            }
         }
         .noticeBody {
             padding: 1rem 0.5rem;
         }
         button {
            width: 100%;
         }
    }

    .inquiry {
        margin-top: 0;
        border-bottom: none;
    }
}