/* 컬러 B&W */

$color01: #000000;
$color02: #26282C;
$color03: #484B51;
$color04: #696E76;
$color05: #838B94;
$color06: #AAB0BB;
$color07: #C6CBD0;
$color08: #DDE1E4;
$color09: #EBEEF0;
$color10: #F7F7F8;
$color11: #FFFFFF;

/* PointColor */

$mainPoint: #1412bb;
$subPoint: #C0EBA6;

$statusRed: #f23f3f;
$statusYellow: #ffd338;
$statusBlue: #287eff;

/* 보더컬러 GrayTone */

$BDC01: #ebeef0;
$BDC02: #696e76;
$BDC03: #c6cbd0;
$BDC04: #484b51;
$BDC05: #45484d;
$BDC06: #86888a;
$BDC07: #65696e;
$BDC08: #8c8c8e;


.product {

    .buy {
        a {
            color: $color11!important;
        }
    }

    .productHeader {
        align-items: center;
        gap: 3rem;

        .productImg {

            .swiper {
                img {
                    width: 100%;
                }
            }

        }

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem !important;
        }

        .productText {
            font-size: 1rem;
            margin-bottom: 2rem !important;
        }

        .productPrice {
            gap: 0.75rem;
            ;
            margin-bottom: 3rem;
            font-size: 2rem;

            h3 {
                font-size: 2.5rem;
                color: $color01;
            }

            span {
                color: $color05;
                text-decoration: line-through;
                font-size: 1.5rem;
            }
        }

        .inputBox {
            margin-bottom: 2rem;

            button {
                width: 100%;
                height: 3rem;
                text-align: left;
                padding-left: 1rem;
                font-size: 1rem;
            }

            .dropdown-toggle::after {
                top: 40%;
                right: 1rem;
                position: absolute;
            }

            .dropdown-menu {
                width: 100%;
            }
        }

        label {
            font-size: 1rem;
            margin-bottom: 0.75rem;
        }

        .countDiv {
            width: 7rem;

            border: 1px solid;
            border-color: $BDC03;
            justify-content: space-between;
            padding: 0.25rem 0.25rem;
            border-radius: 0.25rem;
            margin-bottom: 1.5rem;

            button {
                i {
                    color: $color07;
                }
            }
        }

        .delivaryDiv {
            display: flex;
            padding: 1rem 0;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: $BDC05;
            margin-bottom: 1.5rem;

            div {
                display: flex;
                align-items: center;
                gap: 1.25rem;

                span {
                    color: $color05;
                    font-size: 0.75rem;

                }

                p {
                    font-size: 1.5rem !important;
                    color: $color01;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    letter-spacing: 0;

                    span {
                        font-size: 0.75rem;
                        margin-top: 0.5rem;
                    }
                }
            }

            p {
                font-size: 0.75rem;
                color: $statusBlue;
                letter-spacing: -2px;
            }
        }

        .totalPrice {
            justify-content: flex-end;
            align-items: center;
            gap: 0.75rem;
            margin-bottom: 1.75rem;

            p {
                font-size: 0.85rem;
            }

            h6 {
                font-size: 1.25rem;
            }

        }

        .btnWrap {
            gap: 1rem;

            button {
                height: 3.75rem;
            }

            .detailWish.active {


                i {
                    color: $statusRed !important;
                }

            }

            .col-4 {
                gap: 1rem;

                button {
                    width: 50%;

                    i {
                        font-size: 2rem;
                    }

                    &:first-child {
                        border-color: $BDC05 !important;

                    }

                    &:last-child {
                        border-color: $color08 !important;

                        i {
                            color: $color08;
                        }
                    }
                }
            }
        }
    }

    .productBody {
        position: relative;

        .tabButton {
            margin: 2rem 0;

            ul {
                padding-left: 0;
                display: flex;
                align-items: center;

                li {
                    width: 25%;

                    button {
                        width: 100%;
                        padding: 0;
                        font-size: 1rem;

                        &:hover {

                            border-color: $mainPoint !important;

                            a {
                                color: $mainPoint;
                            }
                        }

                        a {
                            color: $color05;
                            width: 100%;
                            padding: 0.5rem 0;
                            display: block;
                        }
                    }
                }
            }
        }

        .detailPage {

            padding-top: 2rem;
            padding-bottom: 2rem;
            overflow-y: hidden;
            position: relative;

            img {
                max-width: 75%;
            }

            .moreView {
                width: 100%;
                height: 15vh;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 20%, rgba(255, 255, 255, 0.1) 100%);
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;

                button {
                    width: 50%;
                    margin-bottom: 1rem;
                }
            }
        }

        .reviewPage {
            .reviewImg {
                ul.reviewUL {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    li {
                        width: 100%;
                        max-width: 16%;

                        button.imgButton {
                            padding: 0;
                            border: none;
                        }

                        img {
                            width: 100%;
                            aspect-ratio: 1/1;
                            ;
                        }

                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid;
                            border-color: $BDC05;
                            width: 100%;
                            height: 100%;
                            aspect-ratio: 1/1;
                            gap: 1rem;
                            background-color: $color08;
                            color: $color04;
                            border-color: $BDC07;
                            cursor: pointer;

                            i {
                                font-size: 2rem;
                            }


                        }
                    }
                }
            }

            .dropdownBox {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 1rem 0 2rem 0;

                .inputBox {
                    width: 10rem;

                    .dropdown {
                        width: 100%;

                        button {
                            width: 100%;
                            text-align: left;
                            padding: 0.25rem 1rem;
                            font-size: 1rem;
                        }

                        .dropdown-toggle::after {
                            position: absolute;
                            top: 40%;
                            right: 1rem;
                        }
                    }
                }
            }


            .reviewBox {
                border-top: 1px solid;
                border-color: $BDC03;
                padding: 0 1.75rem;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;


                .reviewName {
                    width: 25%;

                    padding: 1.75rem 0.5rem;
                    text-align: left;


                    p {
                        font-size: 1.25rem;
                    }

                    span {
                        font-size: 0.75rem;
                        color: $color07;
                    }

                }

                .reviewText {
                    width: 75%;
                    padding: 1.75rem;
                    text-align: left;
                    border-left: 1px solid;
                    border-color: $BDC03;

                    i {
                        margin-bottom: 1rem;
                        font-size: 1rem;
                        color: $mainPoint;
                    }
                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        max-width: 6rem;
                    }

                    p {
                        font-size: 0.75rem;
                    }
                }
            }
        }

        nav {
            margin: 1rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .pagination {
            gap: 0.75rem;


            .page-link {
                background-color: $color11;
                border-color: $BDC03;
                color: $color05;

                &:focus {
                    box-shadow: none;
                }

                &:hover {
                    background-color: $mainPoint;
                    border-color: $mainPoint;
                    color: $color11;
                }
            }


            .prev,
            .prevprev,
            .next,
            .nextnext {
                background-color: $color08;
                border: 1px solid;
                border-color: $color08;
                color: $color05;

                &:hover {
                    background-color: $mainPoint;
                    border-color: $mainPoint;
                    color: $color11;
                }
            }

            .page-item.active {
                .page-link {
                    background-color: $color01;
                    color: $color11;
                    border-color: $BDC05;
                }
            }


        }

        .inquiryPage {
            border-top: 1px solid;
            border-color: $BDC03;

            ul.inquiryUL {
                li {
                    border-bottom: 1px solid;
                    border-color: $color05;
                    padding: 1.5rem 0;

                    .inquiryCategory {
                        width: 25%;
                    }

                    .inquiryTitle {
                        width: 75%;
                        padding: 0 1rem;
                        gap: 0.75rem;

                        p {
                            color: $color01;
                            font-size: 1rem;

                            span {
                                color: $color05;
                            }
                        }

                        span {
                            font-size: 0.75rem;
                            border-radius: 0.25rem;
                            padding: 0.25rem 0.5rem;
                            line-height: 1.1;
                        }

                        span.reply {
                            background-color: $mainPoint;
                            color: $color11;
                        }

                        span.noreply {
                            background-color: $statusYellow;
                            color: $color01;
                        }
                        
                    }

                }
            }

            .writeDown {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                button {
                    width: 10rem;
                    font-size: 1rem;
                    padding: 0.25rem;
                    margin: 1rem 0;
                }
            }
        }

        .delivary {
            padding: 2rem 0;

            img {
                width: 100%;
            }
        }

        .productFooter {
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: $color11;
            border-top: 1px solid;
            border-color: $BDC03;
            padding: 0.5rem 2rem;
            width: 100%;

            ul {
                gap: 1rem;
            }

            li {
                width: 100%;

                button {
                    width: 100%;
                }
            }
        }
    }
}

.offUpCanvas {
    top: auto !important;
    bottom: 0;
    width: 100% !important;
    transform: translateY(100%) !important;

    .offcanvas-header {
        padding-top: 3rem;

        h5 {
            font-size: 2rem;
            margin-bottom: 1rem !important
        }

        .productPrice {
            gap: 0.75rem;
            ;
            font-size: 2rem;

            h3 {
                font-size: 2.5rem;
                color: $color01;
            }

            span {
                color: $color05;
                text-decoration: line-through;
                font-size: 1.5rem;
            }
        }
    }

    .offcanvas-top {

        .col-6.optionDiv {
            padding-right: 1rem;
        }

        .col-6.buyDiv {
            padding-left: 1rem;
        }

        .inputBox {
            margin-bottom: 2rem;

            button {
                width: 100%;
                height: 3rem;
                text-align: left;
                padding-left: 1rem;
                font-size: 1rem;
            }

            .dropdown-toggle::after {
                top: 40%;
                right: 1rem;
                position: absolute;
            }

            .dropdown-menu {
                width: 100%;
            }
        }

        label {
            font-size: 1rem;
            margin-bottom: 0.75rem;
        }

        .countDiv {
            width: 7rem;

            border: 1px solid;
            border-color: $BDC03;
            justify-content: space-between;
            padding: 0.25rem 0.25rem;
            border-radius: 0.25rem;
            margin-bottom: 1.5rem;

            button {
                i {
                    color: $color07;
                }
            }
        }

        .delivaryDiv {
            display: flex;
            padding: 1rem 0;
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: $BDC05;
            margin-bottom: 1.5rem;

            div {
                display: flex;
                align-items: center;
                gap: 1.25rem;

                span {
                    color: $color05;
                    font-size: 0.75rem;

                }

                p {
                    font-size: 1.5rem !important;
                    color: $color01;
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    letter-spacing: 0;

                    span {
                        font-size: 0.75rem;
                        margin-top: 0.5rem;
                    }
                }
            }

            p {
                font-size: 0.75rem;
                color: $statusBlue;
                letter-spacing: -2px;
            }
        }


    }


    .offcanvas-bottom {
        display: flex;
        align-items: center;

        .col-8 {
            gap: 1rem;

            button {}
        }

        .totalPrice {
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            margin-bottom: 0;

            p {
                font-size: 1.25rem;
            }

            h6 {
                font-size: 1.75rem;
            }

        }
    }
}

.offUpCanvas.show {
    transform: translateY(0) !important;
}

/* 모달 */

#inquiryModal,
#inquiryWriteModal {

    .modal-dialog {
        max-width: 400px !important;
    }

    .modal-body {
        padding: 2rem 1rem 1rem 1rem;

        .locked {
            padding: 2rem 1rem 0 1rem;

            i {
                font-size: 5rem;
                margin-bottom: 0.25rem;
            }

            h5 {
                font-size: 1.25rem;
                margin-bottom: 2rem !important;
            }

            input {
                width: 100%;
                height: 2.5rem;
                padding: 0.5rem;
            }
        }

    }

    .modalbodyTop {
        margin-bottom: 1.5rem;

        >div {
            gap: 1rem;
        }

        .imgBox {
            border-radius: 0.5rem;
            background-color: $color06;

            img {
                width: 6rem;
                aspect-ratio: 1/1;
            }
        }

        text-align: left;

        h6 {
            font-size: 1rem;
        }

        p {
            font-size: 1rem;

            span {
                font-size: 0.75rem;
            }
        }
    }

    .modalbodyBottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: left;

        .inputBox {
            margin-bottom: 0;

            label {
                margin-bottom: 1rem;
            }

            button {
                width: 100%;
                height: 2.5rem;
                text-align: left;

                font-size: 1rem;
                padding: 0;
                padding-left: 1rem;
            }

            .dropdown-toggle::after {
                top: 40%;
                right: 1rem;
                position: absolute;
            }

            .dropdown-menu {
                width: 100%;
            }
        }

        .inquiryTitle {
            label {
                margin-bottom: 1rem;
            }

            input {
                width: 100%;
                border-color: $BDC03 !important;
                height: 2rem;
            }
        }

        textarea {
            width: 100%;
            min-height: 15rem;
            padding: 1rem;
            outline: none;
        }

        .inquiryPassword {
            div {
                margin-bottom: 0.5rem;
                gap: 0.5rem;

                input {
                    width: 1rem;
                    aspect-ratio: 1/1;
                }

                i {
                    font-size: 1rem;
                    margin-right: 0.125rem;
                }

                p {
                    font-size: 0.75rem;
                }
            }

            input {
                width: 100%;
                border-color: $BDC03 !important;
            }
        }
    }

    .modal-footer {
        button {
            width: 100%;
            height: 3rem;
            font-size: 1rem;
        }
    }

    .modal-footer.passwordFooter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        button {
            width: 50%;
            height: 3rem;
            font-size: 1rem;
        }
    }
}

#reviewViewModal {
    .modal-dialog {
        max-width: 400px !important;
    }

    .modal-body {
        padding: 2rem 1rem 1rem 1rem;

        .locked {
            padding: 2rem 1rem 0 1rem;

            i {
                font-size: 5rem;
                margin-bottom: 0.25rem;
            }

            h5 {
                font-size: 1.25rem;
                margin-bottom: 2rem !important;
            }

            input {
                width: 100%;
                height: 2.5rem;
                padding: 0.5rem;
            }
        }

    }

    .modalbodyTop {
        margin-bottom: 1.5rem;

        >div {
            gap: 1rem;
        }

        .imgBox {
            border-radius: 0.5rem;
            background-color: $color06;

            img {
                width: 6rem;
                aspect-ratio: 1/1;
            }
        }

        text-align: left;

        h6 {
            font-size: 1rem;
        }

        p {
            font-size: 1rem;

            span {
                font-size: 0.75rem;
            }
        }

        .reviewMoreImage {
            display: flex;
            align-items: center;
            overflow-x: scroll;
            img {
                width: 100%;
                aspect-ratio: 1/1;
                max-width: 5rem;
                border-radius: 0.25rem;
            }
        }
        .reviewMoreImage::-webkit-scrollbar {
            display: none;
        }
    }

    .modalbodyBottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: left;

        .inputBox {
            margin-bottom: 0;

            label {
                margin-bottom: 1rem;
            }

            button {
                width: 100%;
                height: 2.5rem;
                text-align: left;

                font-size: 1rem;
                padding: 0;
                padding-left: 1rem;
            }

            .dropdown-toggle::after {
                top: 40%;
                right: 1rem;
                position: absolute;
            }

            .dropdown-menu {
                width: 100%;
            }
        }

        .inquiryTitle {
            label {
                margin-bottom: 1rem;
            }

            input {
                width: 100%;
                border-color: $BDC03 !important;
            }
        }

        textarea {
            width: 100%;
            min-height: 15rem;
            padding: 1rem;
            outline: none;
        }

        .inquiryPassword {
            div {
                margin-bottom: 0.5rem;
                gap: 0.5rem;

                input {
                    width: 1rem;
                    aspect-ratio: 1/1;
                }

                i {
                    font-size: 1rem;
                    margin-right: 0.125rem;
                }

                p {
                    font-size: 0.75rem;
                }
            }

            input {
                width: 100%;
                border-color: $BDC03 !important;
            }
        }
    }

    .modal-footer {
        button {
            width: 100%;
            height: 3rem;
            font-size: 1rem;
        }
    }

    .modal-footer.passwordFooter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        button {
            width: 50%;
            height: 3rem;
            font-size: 1rem;
        }
    }
}


@media screen and (max-width: 500px) {
    .product {
        .productHeader {
            padding: 1rem !important;
            .productImg {
                width: 100%;
            }

            h2 {
                font-size: 1.5rem !important;
                margin-bottom: 0.5rem !important;
            }

            .productText {
                font-size: 0.75rem !important;
                margin-bottom: 0.5rem !important;
            }

            .productPrice {
                font-size: 1rem!important;
                padding-bottom: 1.25rem!important;
                border-bottom: 1px solid;

                h3 {
                    font-size: 1.5rem !important;
                }
                span {
                    font-size: 1rem!important;
                }
            }

            .btnWrap {
                gap: 0.25rem!important;

                .col-4 {
                    gap: 0.5rem!important;
                }
            }

            
        }

        .productBody {
            .tabButton {
                ul {
                    li {
                        button {
                            a {
                                font-size: 0.7rem!important;
                            }
                        }
                    }
                }
            }

            .detailPage {
                .moreView {
                    button {
                               width: 90%;
                               height: 2.5rem;
                               font-size: 1rem;
                               padding: 0.5rem 0;
                    }
                }
            }
            .reviewPage {

                .dropdownBox {
                    margin-bottom: 1rem;
                } 

                .reviewImg {
                    ul.reviewUL {
                        gap: 0.25rem;
                        flex-wrap: wrap;
                        li {
                            max-width: 32%!important;
                        }
                    }
                }
                .reviewBox {
                    flex-direction: column;
                    padding: 0;
                    margin-bottom: 0.75rem;
                    border-bottom: 1px solid;
                    border-color: $BDC03;
                    .reviewName {
                        width: 100%;
                        padding: 1rem 2rem;
                    }
                    .reviewText {
                        width: 100%;
                        border-left: none;
                        
                        border-color: $BDC03;
                        padding: 0rem 2rem;
                        padding-bottom: 1rem;
                    }
                }
            }
            nav {
                margin: 2rem 0;
            }

            .inquiryPage {
                .writeDown {
                    button {
                        margin-right: 1rem;
                    }
                }
            }

            .productFooter {
                bottom: 4rem; 
                
                button {
                    height: 3rem;
                    font-size: 1rem;
                }
            }
        }
    }

    #inquiryModal,
    #inquiryWriteModal {
        .modalbodyBottom {
            textarea {
                min-height: 7.5rem;
            }
        }
    }


    .offUpCanvas {
        min-height: 41vh;
        .offcanvas-header {
            display: none;

           
        }

        .offcanvas-top {
            flex-direction: column;
             .col-6.buyDiv {
                 text-align: left;
                 padding-left: 0 !important;
             }

             .optionDiv {
                width: 100%;
             }

             .inputBox {
                margin-bottom: 1rem;
                width: 100%;
             }

            .delivaryDiv {
                display: none!important;
            }
        }
        .offcanvas-bottom {
            flex-direction: column-reverse;

            .totalPrice {
                justify-content: space-between!important;
                padding-bottom: 1rem;
                border-bottom: 1px solid;
                border-color: $BDC03;


                p {
                    font-size: 1rem;
                }
                h6 {
                    font-size: 1.25rem;
                }
            }

            .btns {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .wishlisht {
                display: none;
            }

            button {
                height: 2.5rem;
                font-size: 1rem;
                padding: 0.25rem 0;
            }
        }
    }
}