/* 컬러 B&W */

$color01: #000000;
$color02: #26282C;
$color03: #484B51;
$color04: #696E76;
$color05: #838B94;
$color06: #AAB0BB;
$color07: #C6CBD0;
$color08: #DDE1E4;
$color09: #EBEEF0;
$color10: #F7F7F8;
$color11: #FFFFFF;

/* PointColor */

$mainPoint: #1412bb;
$subPoint: #C0EBA6;

$statusRed: #f23f3f;
$statusYellow: #ffd338;
$statusBlue: #287eff;

/* 보더컬러 GrayTone */

$BDC01: #ebeef0;
$BDC02: #696e76;
$BDC03: #c6cbd0;
$BDC04: #484b51;
$BDC05: #45484d;
$BDC06: #86888a;
$BDC07: #65696e;
$BDC08: #8c8c8e;


.promotion {


    h1 {
        font-size: 1.5rem;
        padding: 1.5rem 0;
        border: 1px solid;
        border-color: $BDC03;
        border-left: none;
        border-right: none;
    }

    .promotionWrap {



        .promotionBanner {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            aspect-ratio: 2/1;
        }

        nav {
            margin: 2.5rem 0;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                li {
                    min-width: 6.5rem;

                    button {
                        width: 100%;
                        background-color: $color11;
                        border: 1px solid;
                        border-color: $BDC03;
                        font-size: 0.75rem;
                        padding: 0.75rem 1.5rem;
                        color: $color03;
                    }

                }


                button.active {
                    background-color: $color02;
                    border: 1px solid;
                    border-color: $color02;
                    color: $color11;
                }

            }
        }

        .itemWrap {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 4rem;
            position: relative;

            .itemBoxes {
                display: flex;
                flex-direction: column;
                position: relative;
                border: 1px solid;
                border-color: $BDC03;
                padding: 1rem 0.25rem 4rem 0.25rem;
                background-color: $color11;
                overflow-y: hidden;


                img {
                    width: 100%;
                    margin-bottom: 1rem;

                }

                .ogImg {

                    display: block;
                    transition: all 1s;

                }

                .changeImg {
                    display: none;
                }

                .itemsInfo {

                    p,
                    span {
                        color: $color05;
                    }

                    h5,
                    h6 {
                        color: $color01;
                    }

                    h5 {
                        font-size: 1.25rem;
                    }

                    p,
                    span {
                        font-size: 0.75rem;
                    }

                    h6 {
                        font-size: 1.25rem;
                        margin: 0;
                        padding: 0;
                        line-height: 1.25;
                    }

                    p {
                        margin: 0.25rem 0 !important;
                    }

                    span {
                        text-decoration: line-through;
                    }
                }

                .itemsDiscount {
                    background-color: $color02;
                    position: absolute;
                    border-radius: 100%;
                    font-size: 0.5rem;
                    display: flex;
                    align-items: flex-end;
                    gap: 0.125rem;
                    color: $color11;
                    padding: 0.5rem;
                    top: 0.5rem;

                    p {
                        color: $color11;
                        font-size: 1rem;

                    }
                }

                &:hover {
                    .itemsButton {
                        bottom: 0;
                    }

                    .itemWish {
                        transform: scale(1);
                    }

                    .ogImg {
                        display: none;
                    }

                    .changeImg {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .promotion {

        h1 {
            font-size: 1.25rem;
        }

        .promotionWrap {
            .itemWrap {
                .itemBoxes {
                    padding: 1rem 0.25rem 2rem 0.25rem;
                    .itemsInfo {
                        h5 {
                            font-size: 1rem;
                        }
                    }
                    .itemsButton {
                        display: none;
                    }
                }
            }
        }
    }
}